typing_extensions==4.13.1
mypy-extensions==1.0.0
mypy==1.15.0
networkx==3.5
nvidia-cusparselt-cu12==0.6.3
mpmath==1.3.0
triton==3.3.1
sympy==1.14.0
nvidia-nvtx-cu12==12.6.77
nvidia-nvjitlink-cu12==12.6.85
nvidia-nccl-cu12==2.26.2
nvidia-curand-cu12==10.3.7.77
nvidia-cufile-cu12==1.11.1.6
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cublas-cu12==12.6.4.1
fsspec==2025.5.1
nvidia-cusparse-cu12==12.5.4.2
nvidia-cufft-cu12==11.3.0.4
nvidia-cudnn-cu12==9.5.1.17
nvidia-cusolver-cu12==11.7.1.2
torch==2.7.1
typing-inspection==0.4.1
smmap==5.0.2
sentry-sdk==2.30.0
pydantic_core==2.33.2
protobuf==6.31.1
annotated-types==0.7.0
pydantic==2.11.7
gitdb==4.0.12
GitPython==3.1.44
wandb==0.20.1
keyring==24.3.1
distlib==0.3.8
msgpack==1.0.3
pynvim==0.5.0
hyperlink==21.0.0
eyed3==0.9.7
lazr.restfulclient==0.14.6
typing_extensions==4.10.0
duplicity==2.1.4
more-itertools==10.2.0
jaraco.classes==3.2.1
ssh-import-id==5.11
fastimport==0.9.14
service-identity==24.1.0
pyrsistent==0.20.0
Automat==22.10.0
python-apt==2.7.7+ubuntu4
toml==0.10.2
pyOpenSSL==23.2.0
sos==4.8.2
defer==1.0.6
pycryptodomex==3.20.0
command-not-found==0.3
jsonschema==4.10.3
requests-toolbelt==1.0.0
language-selector==0.1
google-auth==1.5.1
xkit==0.0.0
pyproject_hooks==1.0.0
poetry==1.8.2
click==8.1.6
websockets==10.4
terminator==2.1.3
ptyprocess==0.7.0
python-dotenv==1.0.1
cachetools==5.3.0
uritemplate==4.1.1
SecretStorage==3.3.3
google-api-python-client==1.7.12
wheel==0.42.0
distro==1.9.0
constantly==23.10.4
npx==0.1.2
cryptography==41.0.7
cryptography==41.0.7
urllib3==2.0.7
python-magic==0.4.27
python-dateutil==2.8.2
cupshelpers==1.0
pyasn1==0.4.8
Pygments==2.17.2
gyp==0.1
httplib2==0.20.4
pylev==1.4.0
fastjsonschema==2.19.0
podcastparser==0.6.10
deprecation==2.0.7
Babel==2.10.3
s3transfer==0.10.1
Brotli==1.1.0
bcrypt==3.2.2
jsonpointer==2.0
cleo==2.1.0
lxml==5.2.1
menulibre==2.4.0
pytest==7.4.4
setuptools==68.1.2
PyNaCl==1.5.0
numpy==1.26.4
six==1.16.0
dbus-python==1.3.2
pibootctl==0.5.2
SQLAlchemy==1.4.50
Magnus==1.0.3
louis==3.29.0
dulwich==0.21.6
netifaces==0.11.0
incremental==22.10.0
poetry-core==1.9.0
docopt==0.6.2
Brlapi==0.8.5
iotop==0.6
olefile==0.46
screen-resolution-extra==0.0.0
tomlkit==0.12.4
texttable==1.6.7
zope.interface==6.1
cssselect==1.2.0
PyICU==2.12
pygame==2.5.2
chardet==5.2.0
pyxdg==0.28
crashtest==0.4.1
idna==3.6
PyJWT==2.7.0
setproctitle==1.3.3
mdurl==0.1.2
pkginfo==1.9.6
onboard==1.4.1
zipp==1.0.0
jmespath==1.0.1
CacheControl==0.14.0
xdg==5
lockfile==0.12.2
pyserial==3.5
s-tui==1.1.6
notify2==0.3
gpodder==3.11.3
filelock==3.13.1
fasteners==0.18
jeepney==0.8.0
mygpoclient==1.9
poetry-plugin-export==1.6.0
attrs==23.2.0
ufw==0.36.2
pip==24.0
greenlet==3.0.3
simplejson==3.19.2
MarkupSafe==2.1.5
launchpadlib==1.11.0
google-auth-httplib2==0.2.0
trove-classifiers==2024.1.31
docker-compose==1.29.2
certifi==2023.11.17
dockerpty==0.4.1
installer==0.7.0
ubuntu-pro-client==8001
importlib-metadata==4.12.0
PyYAML==6.0.1
oauth2client==4.1.3
Jinja2==3.1.2
platformdirs==4.2.0
colorama==0.4.6
unattended-upgrades==0.1
ubuntu-drivers-common==0.0.0
xlrd==2.0.1
requests==2.31.0
shellingham==1.5.4
configobj==5.0.8
mutagen==1.46.0
html5lib==1.1
blinker==1.7.0
paramiko==2.12.0
psutil==5.9.8
boto3==1.34.46
websocket-client==1.7.0
packaging==24.0
python-debian==0.1.49+ubuntu2
rsa==4.9
pillow==10.2.0
xyzservices==0.0.0
oauthlib==3.2.2
PyGObject==3.48.2
virtualenv==20.25.0+ds
lazr.uri==1.0.6
wcwidth==0.2.5
PyDrive==1.3.1
botocore==1.34.46
pytz==2024.1
pycups==2.0.1
pyasn1-modules==0.2.8
beautifulsoup4==4.12.3
docker==5.0.3
markdown-it-py==3.0.0
git-filter-repo==2.38.0
PyHamcrest==2.1.0
Twisted==24.3.0
pyudev==0.24.0
webencodings==0.5.1
build==1.0.3
pyparsing==3.1.1
filetype==1.2.0
soupsieve==2.5
iniconfig==1.1.1
distro-info==1.7+build1
systemd-python==235
jsonpatch==1.32
pexpect==4.9.0
monotonic==1.6
pycairo==1.25.1
rich==13.7.1
cloud-init==25.1.2
yt-dlp==2024.4.9
wadllib==1.3.6
urwid==2.6.10
pluggy==1.4.0
